* {
    width: 100%;
}

body {
    margin-top: 100px;
    color: #1f1f1f;
    background: rgb(255,255,255);
    margin-left: 50px;
    margin-right: auto;
    text-align: left;
    text-shadow: 10px 10px 0px 0px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    margin-left: 1%;
}

a {
    text-decoration: none;
}